@font-face {
    font-family: 'Holland';
    src: url('./Holland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header{
  display:block;
}
.header{
    z-index: 100;
    flex: 0 0 auto;
    background: rgb(28, 28, 28);
}
.App-link {
  color: #61dafb;
}
.iyjYqi {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
    display: block;
    -webkit-appearance: none !important;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: 0px;
    background: none;
    padding: 12px 8px;
    margin: 0px 12px 0px -8px;
}

.ifFnWb {
    display: block;
    width: 28px;
    padding: 0px;
    list-style: none;
    margin: -5px 0px;
}

.myheader {
    z-index: 100;
    flex: 0 0 auto;
    background: #1c1c1c;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: hsl(0, 0%, 11%);
}

.gLaYsN {
    flex: 1 1 0%;
}

.iRaRib {
    font-size: 14px;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    float:left;
    display: inline-block;
    float:left;
    display: flex;
    font-size: 16px;
    width:98.3px;
    height:46px;
    opacity: 0.95;
        line-height: 1;
   
}

.iRaRib2 {
    font-size: 14px;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    float:left;
    display: inline-block;
    float:left;
    display: flex;
    font-size: 16px;
    width:98.3px;
    height:46px;
}

.iRaRib {
    display: flex;
    font-size: 16px;
}

.iRaRib3 {
    font-size: 14px;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    float:left;
    display: inline-block;
    float:left;
    display: flex;
    font-size: 16px;
    width:98.3px;
    height:46px;
     padding-left:17px;
}

.down-btn {
     background:transparent;
        position: absolute;
    top: 20%;
    right: 10.8em;
    margin-bottom: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down-btn2{
     background:transparent;
        position: absolute;
    top: 20%;
    right: -6.2em;
    margin-bottom: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.kyyTWP{
    margin-left: 200px;
    margin-top:100px;
    background:transparent;
}

.kGIeyf {
    width: 100px;
    height: 12px;
    background: white;
    position: relative;
    bottom:15px; 
}

.kGIeyf2 {
    width: 100px;
    height: 12px;
    background: white;
    position: relative;
    bottom:15px; 
    left:10px;
}

.kuwxxb {
    width: 1.425em;
}

.IGGFH {
    width: 1.425em;
}


.cLRNfK {
    width: 1px;
    height: 2em;
    margin-left:10px;
    margin-right: 10px;
    background: white;
}
.gdaVxi {
    display: block;
    width:48.44px;
    height:22.86px;
}

.fHMREq {
    display: block;
    width: 44px;
    height: 44px;
    margin-left: 18px;
    color: white;
    padding: 12px;
}

.fa-instagram{
  color:white;
  margin-top:10px;
  font-size:23px;
}
.kdUWtr {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.bynthS {
    display: inline-flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.adahT {
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    float:left;
    display: inline-block;
    width:285.61px;
    height: 46px;
    display: flex;
    margin-top: 30px;
    margin-right:18px;
}

.FvuVX {
    height: 20px;
    background-image: url(https://d1bpd8c0nrk0jr.cloudfront.net/images/pattern.jpg);
    background-size: auto 270px;
    background-repeat: repeat-x;
    background-position: 50% 50%;
}

.bWlrgZ {
    flex: 1 0 auto;
}
.jywdkA {
    padding: 0px 20px;
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 10px;
}
.jfaiou {
    height: 700px;
    padding-bottom: 320px;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 599px;
    padding-bottom: 60px;
    background: url(https://d1bpd8c0nrk0jr.cloudfront.net/images/Homepage_Hero/x2Desktop.jpg) center center / cover no-repeat;
    
}

.hzKpbS {
    font-family: 'Holland',serif;
    font-size: 40px;
    font-weight: normal;
    text-transform: lowercase;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    margin: 0px;
}

.fbiJKL {
    bottom: 30px;
    font-size: 21px;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    position: absolute;
    left: 50%;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    transform: translateX(-50%);
    font-size: 16px;
    bottom: 5px;
    -webkit-appearance: none !important;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: 0px;
    background: none;
}

.eoObsb{
    transform: translateZ(0px);
        position: absolute;
    height: 300px;
    width: 30px;
    top: 120vh;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.imagePath{

  background-image: url(https://d1bpd8c0nrk0jr.cloudfront.net/images/loyalty.jpg);
}

.cHxzSY {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.fAwHih {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0px 10px 0px 40px;
    flex: 1 1 auto;
}


.cCDPP .sc-gJTSre {
    font-size: 72px;
    font-size: 55px;
}

.cCDPP .sc-fdqjUm {
    margin-right: -60px;
    margin-left: -60px;
    font-size: 90px;
    margin-top: -0.1em;
    margin-bottom: 0.3em;
    font-size: 70px;
    font-size: 40px;
    letter-spacing: 0.2em;
    font-family: brother-1816, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 10px -0.2em 10px 0px;
}
.hoZhEz {
    font-size: 48px;
    font-family: Holland, serif;
    text-align: center;
    text-transform: lowercase;
}

.cyqFbw {
    margin-bottom: 1em;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.hvzHrP {
    -webkit-box-align: center;
    align-items: center;
}

@fontface {
  font-family: 'Holland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Holland')
}


div {
    display: block;
}

.hYlMQo {
    position: absolute;
    top: 100px;
    background: transparent;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 10;
    padding: 10px 20px;
}

.hcrEhF {
    padding: 0px 20px;
}

.fsNkAV {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}
.bwiQCw {
    margin-bottom: 28px;
    width: 100%;
    height: 4em;
    font-family: inherit;
    line-height: 3.5em;
    font-weight: 400;
    color: rgb(155, 155, 155);
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0.9em 2.5em 0px 0.7em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: 0px;
    background: white;
}
.btn{
     background-color: Transparent;
     background-repeat:no-repeat;
    border: none;
    width:260px;
    margin-left: -20px;
    padding-top: 0px;
    margin-top: 0px;
}

.dcQnXJ:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align:left;
}

.dcQnXJ{
    text-align:left;
     background-color: Transparent;
        font-size: 1em;
    cursor: default;
    padding: 15px 0px 15px 20px;
}
.dTcjnK {
    position: absolute;
    top: 50%;
    right: 0.8em;
    width: 0.75em;
    height: 0.4275em;
    margin-right: 160px;
    pointer-events: none;
}

.fsTCDe > * {
    width: 100%;
}

.fKXxgl {
    position: relative;
}

.hqpRNJ {
    position: absolute;
    top: 56%;
    right: 0.8em;
    width: 0.75em;
    height: 0.4275em;
    pointer-events: none;
}

.iiuxTO[disabled] {
    filter: grayscale(100%);
    opacity: 0.6;
    cursor: not-allowed;
}

.iiuxTO {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
    opacity: 0.6;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-appearance: none !important;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: 0px;
    padding: 0px 30px;
    background: rgb(242, 242, 242);
    text-decoration: none;
    transition: all 100ms ease 0s;
}
.MoosI a {
    font-size: 1.5em;
    padding: 0px 40px;
}

.MoosI {
    margin-right: 20px;
}

.kIWchP {
    width: 100%;
    height: 100%;
    font-family: inherit;
    line-height: 3.5em;
    font-weight: 400;
    color: rgb(155, 155, 155);
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0.9em 2.5em 0px 0.7em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    outline: 0px;
    background: white;
}

.qUyDa {
    position: absolute;
    z-index: 1;
    top: 0.9em;
    right: 0px;
    left: 1em;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: black;
    pointer-events: none;
}

.mBjMk {
      right: 150px;
      top:28px;
    position: relative;
    display: inline-block;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    height: 100%;
    pointer-events: all;
}


.fGfjqq {
    width: 1px;
    height: 50px;
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 50%;
    background: black;
}


.TXuyj {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    width: 100%;
    left: 0px;
    z-index: 2;
    max-height: 0px;
    background: rgb(255, 255, 255);
    
}
.dpCgtI {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: none;
}

.iMzlEd {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    width: 100%;
    left: 0px;
    z-index: 2;
    max-height: 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    transition: all 500ms ease 0s;

}

.jzDuha {
    position: absolute;
    z-index: 1;
    top: 0.9em;
    right: 0px;
    left: 1em;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: black;
    pointer-events: none;
}
.fsTCDe > * {
    width: 100%;
}
.jhFxUw {
    position: relative;
    display: inline-block;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    pointer-events: all;
}

.fsTCDe {
    position: relative;
    margin-top: 28px;
    margin-right: 20px;
    border-bottom: none;
    flex: 1 1 0%;
    font-size: 16px;
    transition: box-shadow 200ms ease 0s;
}

.evLBSR {
    top: 0px;
}
 .imagepath-2{
  background-image: url(https://d1bpd8c0nrk0jr.cloudfront.net/images/loyalty.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 674.5px;
    height:336px;
 }
.hYSXI {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
}
.HuCLb {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 0%;
}

.gIwRtd {
    display: flex;
}

.jsMhrD {
    margin-top: 35px;
}

.cyqFbw {
    margin-bottom: 1em;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.FJDis {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex: 1 1 0%;
}

.kgOyY {
    height: 100%;
    width: 100%;

}

.fbiJKL svg {
    margin-top: 0px;
    width: 32px;
}
.inner-style1{
  padding-bottom: 0px;
}

.hhfodI {
    font-family: brother-1816, sans-serif;
    font-size: 50px;
    line-height: 32px;
    padding-top: 20px;
    width:814.86px;
    height:52px;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    margin: -0.1em -0.2em 0px 0px;
}
.hTrKkp {
    margin-top: -200px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 580px;
    text-align: center;
    color: white;
    padding: 0px 10px;
}

.iePPYU {
    min-width: 640px;
    position: relative;
    z-index: 2;
    margin-top: -1px;
    box-shadow: none;
    padding: 2px 5px 0px;
}

.gNYneE {
    background: white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width:905.27px;
    height: 80.39px;
    margin-right:38px; 
}


div {
    display: block;
}

.cVSIJp {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.cvtqOn {
    display: block;
    height: 3px;
    margin: 5px 0px;
    background: white;
}
.eMNfiW {
    display: block;
    width: 150px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li:hover{
    width:100% ;
    background-color: black;
}
.jlGTXA {
    top: -60px;
    list-style-type: none;
    display: inline-block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
}
.gRPRIz {
    display: block;
    width: 170px;
    height: 31.31px;
    margin-left: 10px;
}

.subcontent {
    padding: 0px 20px;
}

.subcontent {
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

body {
    font-family: proxima-nova, sans-serif;
    line-height: 1;
    color: rgb(0, 0, 0);
}
